@import "~bootstrap/scss/bootstrap";

.user-choosing{
    li{
        list-style-type: none;
        margin-top: 20px;
        button{
            width: 250px;
        }
    }
}

.input-field{
    margin-top: 20px;
}

.PhoneInput{
  input{
    border: none;
    outline: none;
  }
  .PhoneInputCountryIcon{
    svg{
      margin-top: -11px;
    }
  }
}

.limiter{
  width: 90%;
}

.alert-enter {
    opacity: 0;
  }
  
  .alert-enter-active {
    transition: opacity 500ms ease-out;
    opacity: 1;
  }
  
  .alert-exit-active {
    transition: opacity 350ms ease-out;
    opacity: 0;
  }
  
  .note-exit-active {
    animation: note 800ms ease-out forwards;
  }
  
  .note-enter-active {
    animation: note 800ms ease-in alternate-reverse;
  }
  
  @keyframes note {
    0% {
      transform: translateX(0);
    }
  
    30% {
      opacity: .7;
      transform: translateX(30px);
    }
  
    100% {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @media screen and (max-width: 992px){
    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
      .nav-item{
        margin-right: 15px;
      }
    }
  }
  @media screen {
    div.divFooter {
      display: none;
    }
    div.divHeader {
      display: none;
    }
  }

  @media print {
    
    
    #myAddingForm{
      display: none;
    }
    #mySearchField{
      display: none;
    }
    .myButtonsCol{
      display: none;
    }
    @page {
      size: auto;
      margin: 0;
      & :first{
        counter-reset: page 10;
      }
    }
  
    .divFooter:before {
      display: table-footer-group;
      position: fixed;
      bottom: 0px;
      width: 100%;
      margin-left: 43%;
      counter-increment: page 1;
      content: counter(page) " page";
      font-size: 20px;
    }
    .divHeader:after {
      height: 20px;
      position: fixed;
      margin: auto;
      margin-left: 50%;
    }
    
            
  }
 